{**
 * Template of ForumControl component
 *
 * @package   Nette\Extras\ForumControl
 * @version   $Id: ForumControlModel.latte,v 1.1.0 2011/08/13 21:04:12 dostal Exp $
 * @author    Ing. Radek Dostál <radek.dostal@gmail.com>
 * @copyright Copyright (c) 2011 Radek Dostál
 * @license   GNU Lesser General Public License
 * @link      http://www.radekdostal.cz
 *
 * @param int $forumTopicsCount total count of topics
 * @param DibiRow $forumReplyTo object of topic for reply
 * @param bool $forumShowForm show the form for new topic or reply?
 * @param bool $forumShowAll show all topics?
 * @param bool $forumSelectedTopics show selected topics?
 * @param array $forumThreads array of all topics
 * @param NAppForm $forumTopicsForm form to show all selected topics
 *}

<div n:if="$forumReplyTo && !$forumShowAll && !$forumSelectedTopics" class="forumControl-topic">
  <table class="forumControl-reply">
    <tbody>
      <tr>
        <td><strong>{$forumReplyTo->name}</strong></td>
        <td align="right">{$forumReplyTo->date_time|timeAgoInWords}</td>
      </tr>
      <tr>
        <td colspan="2"><strong>{$forumReplyTo->title}</strong></td>
      </tr>
      <tr>
        <td colspan="2">{!$forumReplyTo->topic|escapeHtml|nl2br}</td>
      </tr>
    </tbody>
  </table>
</div>
{if $forumShowForm}
{control forumForm}
{/if}
<div n:if="$forumSelectedTopics" id="forumControl-expanded">
  <div n:foreach="$forumSelectedTopics as $forumTopic" class="forumControl-topic">
    <table class="forumControl-reply">
      <tbody>
        <tr>
          <td><strong>{$forumTopic->name}</strong></td>
          <td align="right">{$forumTopic->date_time|timeAgoInWords}</td>
        </tr>
        <tr>
          <td colspan="2"><strong><a href="{plink this, $forumTopic->id_thread, NULL}" title="Reply">{$forumTopic->title}</a></strong></td>
        </tr>
        <tr>
          <td colspan="2">{!$forumTopic->topic|escapeHtml|nl2br}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div n:if="$forumShowAll && !$forumSelectedTopics" id="forumControl-expanded">
  {foreach $forumThreads as $forumTopic}
    {var $forumIndent => 17 * log(3 + $forumTopic->depth) - 18}
    {var $forumSmallIndent => 485 - $forumIndent}
  <div class="forumControl-topic" style="margin-left: {!$forumIndent}pt; width: {!$forumSmallIndent}pt">
    <table class="forumControl-reply">
      <tbody>
        <tr>
          <td><strong>{$forumTopic->name}</strong></td>
          <td align="right">{$forumTopic->date_time|timeAgoInWords}</td>
        </tr>
        <tr>
          <td colspan="2"><strong><a href="{plink this, $forumTopic->id_thread, NULL}" title="Reply">{$forumTopic->title}</a></strong></td>
        </tr>
        <tr>
          <td colspan="2">{!$forumTopic->topic|escapeHtml|nl2br}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {/foreach}
</div>
{$forumTopicsForm->render('errors')}
{$forumTopicsForm->render('begin')}
<div id="forumControl-topics-header">Topics ({$forumTopicsCount})</div>
<div id="forumControl-topics">
  <table width="100%">
    <tbody>
      <tr n:foreach="$forumTopicsForm[$forumSelectedTopicsIds]->controls as $forumTopic">
        {var $forumIndent => 17 * log(3 + $forumThreads[$iterator->counter - 1]->depth) - 18}
        <td width="1">{$forumTopic->control}</td>
        <td><span style="margin-left: {!$forumIndent}pt"><strong><a href="{plink this, $forumThreads[$iterator->counter - 1]->id_thread, NULL}" title="Reply">{$forumThreads[$iterator->counter - 1]->title}</a></strong></span></td>
        <td nowrap="nowrap">{$forumThreads[$iterator->counter - 1]->name}</td>
        <td nowrap="nowrap" width="120">{$forumThreads[$iterator->counter - 1]->cz_date_time}</td>
      </tr>
    </tbody>
  </table>
</div>
<div id="forumControl-topics-footer">
  <div class="left">
    {$forumTopicsForm['show']->control}
  </div>
  <div class="right">
    <a href="{plink this, 0, NULL}">New topic</a>&nbsp;&nbsp;&nbsp;<a href="{plink this, 0, 1}">View all</a>
  </div>
</div>
{$forumTopicsForm->render('end')}